@import "reset";

$primary:white;
$secondary:pink;

body{
    background-color: $primary;
}

.Form{
    margin-left: 30vw;
    margin-top: 1vw;
}

h1{
    
    margin-top: 1vw !important; 
    text-align: center;
}

.FormText{
    margin-top: 0.5vw !important;
}

.RadioLabel{
    margin-top: 0.5vw !important;
}

.RadioSocialSec{
    width: 50% !important;
    display: grid !important;
    grid-template-columns: 1fr 1fr;

}

.centerButton{
    margin-top: 0vw !important;
    width: 10vw;
    margin-left: 25vw !important;
  }

.Loader{
    margin-left: 48vw;
    margin-top: 5vw;
}

.Container-Home{
    position: relative;
    margin-top: 5vw !important;
    display: grid;
    grid-template-columns: 1fr  ;
    grid-gap: 20px ;
  }
.Link{
    text-decoration: none;
    color: #f1f1f1;
}
.AppBar{
    
    text-align: center;
}
.History{
    display: grid 1fr 1fr;
}
.ContainerHistory{
    display: grid !important ;
    grid-template-columns: 0.33fr  0.33fr 0.33fr;
}

h3{
    text-align: center;
    color: blue ;
}